@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic');
@import url('reset.css');
.include-svg-all{display: none;}
.wrapper{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-weight: 300;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.row{
  margin: auto;
  max-width: 1440px;
  display: inline-block;
  width: 100%;
  padding: 0 110px;
  box-sizing: border-box;
}
.slide{
  position: relative;
}
.slide.header{
  color: #fff;
  width: 100%;
  height: 100%;
  min-height: 780px;
  z-index: 1;
  text-align: center;
  font-weight: 300;
}
.slide.header:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 780px;
  display: inline-block;
  background: url(../files/img/bg/1024.jpg) center no-repeat;
  background-size: cover;
  z-index: -1;
}
.slide.header .top{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
}
.slide.header .top *{
  vertical-align: top;
}
.slide.header .logo{
  margin-top: 43px;
  display: inline-block;
}
.slide.header .logo svg{
  width: 186px;
  height: 19px;
}
.slide.header .logo use,
.slide.header .logo g,
.slide.header .logo path{
  fill: #fff;
}
.slide.header .reg{
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 31px;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: -0.3px;
  text-align: center;
  color: #13385b;
  height: 42px;
  border-radius: 4px;
  padding: 0 22px;
  line-height: 43px;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.slide.header .reg:hover{
  background-color: rgba(255, 255, 255, 1);
}
.slide.header .nav{
  margin-top: 40px;
  margin-left: 17px;
  display: inline-block;
  list-style: none;
}
.slide.header .nav li{
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: -0.3px;
  text-align: right;
  color: rgba(255, 255, 255, .8);
}
.slide.header .nav li:last-child{
  margin-right: 0;
}
.slide.header .nav li a{
  padding: 0 10px;
}
.slide.header .nav li a,
.slide.header .menu li a{
  color: inherit;
  text-decoration: none;
}
.slide.header .menu li:hover,
.slide.header .nav li:hover{
  color: rgba(255, 255, 255, 1);
}
.slide.header .menu{
  display: inline-block;
  list-style: none;
  margin-top: 40px;
}
.slide.header .menu li{
  position: relative;
  padding: 0 26px 0 26px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  display: inline-block;
  letter-spacing: -0.3px;
  text-align: right;
  color: rgba(255, 255, 255, .8);
  cursor: pointer;
}
.slide.header .menu li:last-child::before{
  content: '';
  position: absolute;
  left: -2px;
  top: 11px;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  display: inline-block;
  background-color: rgba(255, 255, 255, .8);
}
.slide.header .scl-block{
  margin-top: 42px;
  list-style: none;
  display: inline-block;
}
.slide.header .scl-block li{
  display: inline-block;
  float: left;
  cursor: pointer;
}
.slide.header .scl-block li svg{
  opacity: .8;
  transition: all .3s;
}
.slide.header .scl-block li:hover svg{
  opacity: 1;
  transition: all .3s;
}
.slide.header .scl-block li.vk{
  margin-top: 2px;
}
.slide.header .scl-block li.vk svg{
  margin-top: 2px;
  width: 26px;
  height: 16px;
}
.slide.header .scl-block li.fb{
  margin: 0 14px;
}
.slide.header .scl-block li.fb svg{
  width: 20px;
  height: 20px;
}
.slide.header .scl-block li.twi{
  margin-top: 1px;
}
.slide.header .scl-block li.twi svg{
  margin-top: 1px;
  width: 23px;
  height: 18px;
}
.slide.header .scl-block use,
.slide.header .scl-block g,
.slide.header .scl-block path{
  fill: #fff;
  -webkit-fill: #fff;
}
.slide.header .middle-content{
  position: absolute;
  text-align: center;
  width: 670px;
  height: 400px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45;
  letter-spacing: -0.4px;
  color: #fff;
}
.slide.header .middle-content .title{
  padding-bottom: 23px;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -1px;
  font-weight: 300;
  text-align: center;
}
.slide.header .middle-content .help{
  position: relative;
  margin-top: 5px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: -0.3px;
  text-align: center;
  color: #fff;
}
.slide.header .middle-content .help .line{
  position: relative;
  top: -5px;
  display: inline-block;
  margin: 0 12px 0 0;
  width: 13px;
  height: 22px;
  overflow: hidden;
}
.slide.header .middle-content .help .line:before{
  content: '';
  position: absolute;
  left: 0;
  top: -22px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  border: 1px solid #fff;
}
.slide.header .scl-btn_block{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: auto;
}
.slide.header .scl-btn_block .title{
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  color: #ffffff;
}
.slide.header .scl-btn_block .scl-btns{
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}
.slide.header .scl-btn_block li{
  margin-left: 10px;
  display: inline-block;
}
.slide.header .scl-btn_block li:first-child{
  margin-left: 0;
}
.slide.header .scl-btn_block li .scl-btn_item{
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50px;
}
.slide.header .scl-btn_block li .scl-btn_item.dev{
  opacity: .4;
}
.slide.header .scl-btn_block li .scl-btn_item.whtsp{
  background: url(../files/img/whatsapp.png)
}
.slide.header .scl-btn_block li .scl-btn_item.slack{
  background: url(../files/img/slack.png)
}
.slide.header .scl-btn_block li .scl-btn_item.email{
  background: url(../files/img/email.png)
}
.slide.header .scl-btn_block li .scl-btn_item.vbr{
  background: url(../files/img/viber.png)
}
.slide.header .scl-btn_block li .scl-btn_item.tlgrm{
  background: url(../files/img/telegram.png)
}
.tooltip{
  position: relative;
}
.tooltip:after{
  content: attr(data-tooltip-text);
  position: absolute;
  top: -50px;
  left: -50px;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;
  text-align: center;
  color: #13385b;
  padding: 0 22px;;
  height: 42px;
  white-space: nowrap;
  line-height: 45px;
  border-radius: 4px;
  background-color: #E4ECF3;
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
.tooltip:hover:after{
  visibility: visible;
  opacity: 1;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
.screen_video{
  padding: 0 0 74px;
  text-align: center;
}
.screen_video .title{
  padding-top: 70px;
  padding-bottom: 46px;
  font-weight: 300;
  font-size: 52px;
  line-height: 1.3;
  letter-spacing: -0.3px;
  color: #13385b;
}
.screen_video .nav-tree{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 43px;
}
.screen_video .nav-tree li{
  position: relative;
  display: inline-block;
  padding-right: 100px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.18;
  letter-spacing: -0.4px;
  color: #13385b;
}
.screen_video .nav-tree li:last-child{
  padding-right: 0;
}
.screen_video .nav-tree li:before{
  position: relative;
  content: attr(data-num);
  top: -3px;
  margin-right: 12px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.53;
  letter-spacing: -0.3px;
  color: #fff;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  background-color: #589cf2;
  display: inline-block;
}
.screen_video .nav-tree li:after{
  content: '';
  position: absolute;
  right: 38px;
  top: 5px;
  height: 19px;
  width: 22px;
  display: inline-block;
  background: url(../files/img/arrow.svg) right top no-repeat;
}
.screen_video .nav-tree li:last-child:after{
  display: none;
}
.screen_possibility{
  text-align: center;
  margin-bottom: 45px;
}
.screen_possibility .title{
  padding-top: 70px;
  padding-bottom: 46px;
  font-weight: 300;
  font-size: 52px;
  line-height: 1.3;
  letter-spacing: -0.3px;
  color: #13385b;
}
.screen_possibility .possibility_block{
  width: 33%;
  max-width: 270px;
  display: inline-block;
  padding-top: 90px;
  margin-bottom: 41px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 72px;
}
.screen_possibility .possibility_block.ball{
  background-image: url(../files/img/benefit-ico_ball.svg);
}
.screen_possibility .possibility_block.clock{
  background-image: url(../files/img/benefit-ico_clock.svg);
}
.screen_possibility .possibility_block.zip{
  background-image: url(../files/img/benefit-ico_zip.svg);
}
.screen_possibility .possibility_block.mobile{
  background-image: url(../files/img/benefit-ico_mobile.svg);
}
.screen_possibility .possibility_block.ban{
  background-image: url(../files/img/benefit-ico_ban.svg);
}
.screen_possibility .possibility_block.scl{
  background-image: url(../files/img/benefit-ico_scl.svg);
}
.screen_possibility .possibility_block.share{
  background-image: url(../files/img/benefit-ico_share.svg);
}
.screen_possibility .possibility_block:nth-child(even){
  margin: auto 92px;
}
.screen_possibility .possibility_block .title{
  padding: 0;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.23;
  letter-spacing: -0.2px;
  text-align: center;
  color: #13385b;
}
.screen_possibility .possibility_block .text{
  margin-top: 13px;
  max-width: 250px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.31;
  letter-spacing: -0.3px;
  text-align: center;
  color: rgba(19, 56, 91, 0.6);
}
.screen_examples{
  padding: 70px 0 80px 0;
  text-align: center;
}
.screen_examples .title{
  padding-bottom: 33px;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.36;
  letter-spacing: -1px;
  text-align: center;
  color: #13385b;
}
.screen_examples .content{
  padding: 50px 50px 25px 50px;
  border-radius: 4px;
  background-color: #ffffff;
  max-width: 1000px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.screen_examples .content li{
  position: relative;
  padding-left: 92px;
  margin-bottom: 40px;
  box-sizing: border-box;
  width: 420px;
  height: 150px;
  display: inline-block;
  text-align: left;
}
.screen_examples .content li .title{
  font-size: 26px;
  padding: 0 0 8px 0;
  font-weight: 300;
  line-height: 1.23;
  letter-spacing: -0.5px;
  text-align: left;
  width: 330px;
  color: #13385b;
}
.screen_examples .content li .text{
  font-size: 16px;
  font-weight: normal;
  line-height: 1.31;
  width: 300px;
  letter-spacing: -0.3px;
  color: rgba(19, 56, 91, 0.6);
}
.screen_examples .content li:before{
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
  width: 72px;
  height: 72px;
  display: inline-block;
  background-size: 72px;
  background-repeat: no-repeat;
}
.screen_examples .content li.search:before{
  background-image: url(../files/img/benefit-ico_search.svg);
}
.screen_examples .content li.humb:before{
  background-image: url(../files/img/benefit-ico_humb.svg);
}
.screen_examples .content li.smile:before{
  background-image: url(../files/img/benefit-ico_smile.svg);
}
.screen_examples .content li.aim:before{
  left: -5px;
  top: -13px;
  width: 82px;
  height: 82px;
  background-size: 82px;
  background-image: url(../files/img/benefit-ico_aim.svg);
}
.pay_screen{
  position: relative;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.pay_screen .text{
  margin-top: 13px;
  line-height: 34px;
  margin-left: 6px;
}
.pay_screen .icon{
  margin-top: 13px;
  margin-right: 9px;
  display: inline-block;
  vertical-align: top;
}
.pay_screen .icon path,
.pay_screen .icon use,
.pay_screen .icon symbol,
.pay_screen .icon g{
  fill: #13385b;
  -webkit-fill: #13385b;
  opacity: .3;
}
.pay_screen .icon.visa{
  margin-top: 20px;
  width: 56px;
  height: 18px;
}
.pay_screen .icon.mastercard{
  width: 50px;
  height: 31px;
}
.pay_screen .icon.qiwi{
  width: 32px;
  height: 34px;
}
.pay_screen .icon.webmoney{
  width: 30px;
  height: 31px;
}
.pay_screen .icon.yandexmoney{
  width: 27px;
  height: 30px;
}
.pay_screen .price-block{
  width: 100%;
  max-width: 1030px;
  padding-top: 40px;
  padding-bottom: 5px;
  display: table;
  border-spacing: 11px 0;
  margin: auto;
}
.pay_screen .m_price-block{
  width: 100%;
  display: none;
  border-spacing: 11px 0;
  text-align: center;
}
.pay_screen .price-block .item{
  padding: 18px;
  width: 250px;
  height: 423px;
  margin-right: 6px;
  border-radius: 4px;
  display: table-cell;
  font-size: 19px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -0.4px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.pay_screen .price-block .item:last-child{
  margin-right: 0;
}
.pay_screen .price-block .item.blue{
  background-image: linear-gradient(27deg, #5891d9, #49cdd3);
}
.pay_screen .price-block .item.orng{
  background-image: linear-gradient(207deg, #e9bf15, #e55e1d);
}
.pay_screen .price-block .item.green{
  background-image: linear-gradient(207deg, #31db92, #39ba26);
}
.pay_screen .price-block .item.purple{
  background-image: linear-gradient(207deg, #da58a9, #8538cb);
}
.pay_screen .price-block .item .title{
  padding-top: 11px;
  padding-bottom: 12px;
  font-size: 25px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.pay_screen .price-block .item .price{
  font-size: 52px;
  font-weight: 400;
  letter-spacing: -0.4px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.pay_screen .price-block .item .btn{
  margin: 0 22px;
  margin-top: 33px;
}
.pay_screen .m_price-block .item{
  padding: 18px 17px 21px 27px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 6px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.pay_screen .m_price-block .item.blue{
  background-image: linear-gradient(70deg, #5891d9, #49cdd3);
}
.pay_screen .m_price-block .item.orng{
  background-image: linear-gradient(242deg, #e9bf15, #e55e1d);
}
.pay_screen .m_price-block .item.green{
  background-image: linear-gradient(240deg, #31db92, #39ba26);
}
.pay_screen .m_price-block .item.purple{
  background-image: linear-gradient(243deg, #da58a9, #8538cb);
}
.pay_screen .m_price-block .item .title{
  padding-top: 8px;
  padding-bottom: 17px;
  font-size: 21px;
  font-weight: 300;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -0.4px;
  text-align: left;
  color: #fff;
}
.pay_screen .m_price-block .item .price{
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  line-height: 0.53;
  letter-spacing: -0.5px;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.pay_screen .m_price-block .item .btn{
  margin: 0;
  margin-top: 14px;
}
.pay_screen .pay-block{
  position: relative;
  vertical-align: top;
  font-weight: 400;
}
.pay_screen .pay-block .text{
  margin-top: 13px;
  line-height: 34px;
  margin-left: 6px;
}
.pay_screen .price-block .item .price.strikeout{
  opacity: 1;
  font-weight: 200;
}
.pay_screen .price-block .item .price.strikeout:after{
  background-color: #fff;
}
.pay_screen .title{
  padding-top: 70px;
  padding-bottom: 0;
  font-weight: 300;
  font-size: 52px;
  line-height: 1.3;
  letter-spacing: -0.3px;
  color: #13385b;
}
.pay_screen .text{
  font-size: 19px;
  font-weight: 300;
  width: 600px;
  display: inline-block;
  line-height: 1.47;
  letter-spacing: -0.4px;
  text-align: center;
  color: rgba(19, 56, 91, 0.6);
}
.contact_screen{
  text-align: center;
  padding-bottom: 106px;
}
.contact_screen .title{
  padding-top: 102px;
  padding-bottom: 0;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.3px;
  color: #13385b;
}
.contact_screen .partners-block{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.contact_screen .partners-block img{
  margin: 36px 20px 0 0;
}
.contact_screen .contact_form{
  padding-top: 39px;
  width: 520px;
  display: inline-block;
}
.contact_screen .contact_form .text-form.col_2:last-child{
  margin-left: 20px;
}
.contact_screen .contact_form .text-form{
  float: left;
}
.contact_screen .col_2{
  max-width: 250px;
}
.slide.footer{
  padding-bottom: 40px;
}
.slide.footer *{
  vertical-align: top;
}
.m_footer{display: none;}
.slide.footer .copyright{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
  letter-spacing: -0.4px;
  display: inline-block;
  color: rgba(19, 56, 91, 0.5);
}
.slide.footer .nav{
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}
.slide.footer .nav li{
  position: relative;
  padding: 0 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: -0.4px;
  color: rgba(19, 56, 91, 0.5);
  cursor: pointer;
}
.slide.footer .nav li:hover{
  color: rgba(19, 56, 91, 1);
}
.slide.footer .nav li:after{
  position: absolute;
  content: '';
  right: -2px;
  top: 11px;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  display: inline-block;
  background-color: rgba(19, 56, 91, 0.5);
}
.slide.footer .nav li:last-child:after{
  display: none;
}
.slide.footer .scl-block{
  margin-left: 20px;
  list-style: none;
  display: inline-block;
}
.slide.footer .scl-block{
  list-style: none;
  display: inline-block;
}
.slide.footer .scl-block li{
  display: inline-block;
  float: left;
  opacity: .35;
  cursor: pointer;
}
.slide.footer .scl-block li:hover{
  opacity: 1;
}
.slide.footer .scl-block li svg{
  opacity: .8;
  transition: all .3s;
}
.slide.footer .scl-block li:hover svg{
  opacity: 1;
  transition: all .3s;
}
.slide.footer .scl-block li.vk{
  margin-top: 2px;
}
.slide.footer .scl-block li.vk svg{
  margin-top: 2px;
  width: 26px;
  height: 16px;
}
.slide.footer .scl-block li.fb{
  margin: 0 14px;
}
.slide.footer .scl-block li.fb svg{
  width: 20px;
  height: 20px;
}
.slide.footer .scl-block li.twi{
  margin-top: 1px;
}
.slide.footer .scl-block li.twi svg{
  margin-top: 1px;
  width: 23px;
  height: 18px;
}
.slide.footer .scl-block use,
.slide.footer .scl-block g,
.slide.footer .scl-block path{
  fill: #13385b;
  -webkit-fill: #13385b;
}
.text-form{
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #000;
  outline: none;
  padding: 0 0 0 6px;
  height: 54px;
  border: 0;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
}
.text-form:active,
.text-form:focus{
  border-color: #3688f0;
}
.text-form_support__wrap{
  position: relative;
}
.text-form_support__text{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px 6px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: -0.4px;
  text-align: right;
  color: #2e81ec;
  z-index: 99;
  cursor: pointer;
  transition: all .3s;
}
.text-form_support__text:hover{
  opacity: .7;
  transition: all .3s;
}
.text-form_support__text:active{
  opacity: 1;
  transition: all .3s;
}
.btn.blue{
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  line-height: 2.09;
  letter-spacing: -0.4px;
  text-align: center;
  color: #fff;
  height: 55px;
  box-sizing: border-box;
  padding: 7px 42px 6px 42px;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  background-image: linear-gradient(100deg, #4f9dff, #2e82ed);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn.blue:hover{
  background-image: linear-gradient(rgba(0, 98, 225, 0.5), rgba(0, 98, 225, 0.5)), linear-gradient(106deg, #4f9dff, #2e82ed);
  transition: .2s all;
}
.btn.blue:active{
  color: rgba(255, 255, 255, 0.5);
}
.btn{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: -0.3px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 42px;
  line-height: 40px;
  border-radius: 4px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
}
.btn.btn_plus{
  position: relative;
  padding-left: 46px!important;
}
.btn.btn_plus:after,
.btn.btn_plus:before{
  content: '';
  position: absolute;
  left: 28px;
  top: 14px;
  width: 2px;
  height: 14px;
  display: inline-block;
  background-color: #fff;
}
.btn.btn_plus:before{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.btn.blue{
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  background-image: linear-gradient(105deg, #4f9dff, #2e82ed);
  transition: .2s all;
}
.btn.blue:hover{
  background-image: linear-gradient(rgba(0, 98, 225, 0.5), rgba(0, 98, 225, 0.5)), linear-gradient(106deg, #4f9dff, #2e82ed);
  transition: .2s all;
}
.btn.blue:active{
  color: rgba(255, 255, 255, 0.5);
}
.btn.green{
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  background-image: linear-gradient(106deg, #21d242, #14ae23);
  transition: .2s all;
}
.btn.green:hover{
  background-image: linear-gradient(rgba(14, 143, 12, 0.5), rgba(14, 143, 12, 0.5)), linear-gradient(106deg, #21d242, #14ae23);
  transition: .2s all;
}
.btn.green:active{
  color: rgba(255, 255, 255, 0.5);
}
.btn.h_50{
  height: 50px;
  line-height: 52px;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.4px;
}
.btn.h_56{
  height: 56px;
  line-height: 58px;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0;
}
.btn.white{
  position: relative;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border: solid 2px #fff;
  height: 42px;
  line-height: 40px;
  box-sizing: border-box;
  color: #fff!important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.btn.white:after{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn.white:hover{
  background-color: #fff;
  text-shadow: 0 0 0 transparent;
}
.btn.white.color_blue:hover{
  color: #5891d9!important;
}
.btn.white.color_purple:hover{
  color: #9229db!important;
}
.btn.white.color_orng:hover{
  color: #e55e1d!important;
}
.btn.white.color_green:hover{
  color: #39ba26!important;
}
.btn.white:hover:after{
  display: none;
}
.btn.white.green{
  color: #00b421!important;
  box-shadow: 0 0 0 transparent;
  text-shadow: 0 0 0 transparent;
  border-color: #1fcb3e;
  background-image: none;
}
.btn.white.blue{
  color: #2e81ec!important;
  box-shadow: 0 0 0 transparent;
  text-shadow: 0 0 0 transparent;
  border-color: #2e81ec;
  background-image: none;
}
.btn.white.green:after,
.btn.white.blue:after{
  display: none;
}
.btn.btn_pause{
  position: relative;
  padding: 7px 22px 0 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: -0.1px;
  text-align: left;
  color: #2e81ec;
  height: 42px;
  line-height: 40px;
  border-radius: 4px;
  border: solid 2px #2e81ec;
}
.btn.btn_pause span{
  font-weight: 500;
  padding: 0;
}
.btn.btn_pause svg{
  position: absolute;
  left: 20px;
  top: 11px;
  height: 16px;
  width: 18px;
}
.btn.btn_pause svg use{
  fill: #2e81ec;
  -webkit-fill: #2e81ec;
}
.block-ic_question{
  position: relative;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 38px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.4px;
  color: rgba(19, 56, 91, 0.6);
}
.bg_white{
  background-color: #fff;
}
.bg_blue{
  background-image: linear-gradient(336deg, #e5ecf3, #eef2f7);
}
.wrap{
  display: inline-block;
}
*[class*="col_"]{
  display: inline-block;
  box-sizing: border-box;
}
.col_12{
  width: 100%;
  max-width: 812px;
}
.col_8{
  width: 60%;
  float: left;
}
.col_6{
  width: 50%;
}
.col_4{
  width: 33%;
}
.col_2{
  width: 49%;
}
/*----Modal----------*/
.call_modal{
  cursor: pointer;
}
html.modal_active{
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.shadow,
.modal_wrap .modal_block{
  transition: all .8s;
}
.shadow{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}
html.modal_active .wrapper:not(.menu_active) .shadow{
  opacity: 1;
  z-index: 999;
  visibility: visible;
}
.modal_wrap{
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}
.modal_wrap .modal_container{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  height: 100%;
  width: 600px;
  box-sizing: border-box;
  z-index: 999;
}
html.modal_active .wrapper:not(.menu_active) .modal_wrap{
  opacity: 1;
  z-index: 999;
  visibility: visible;
}
.modal_wrap .modal_block{
  position: absolute;;
  left: 0;
  right: 0;
  top: 50px;
  padding: 40px;
  margin: auto auto 50px auto;
  width: 100%;
  line-height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  display: none;
}
html.modal_active .modal_wrap .modal_block.active{
  opacity: 1;
  z-index: 999;
  display: inline-block;
  visibility: visible;
}
.modal_wrap .modal_block .return,
.modal_wrap .modal_block .close{
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
  width: 31px;
  height: 31px;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.modal_wrap .modal_block .close svg{
  display: inline-block;
  margin: 9px 0 0 0;
  width: 13px;
  height: 13px;
  opacity: .8;
}
.modal_wrap .modal_block .return{
  left: 20px;
  right: auto;
}
.modal_wrap .modal_block .return svg{
  display: inline-block;
  margin: 8px 0 0 0;
  width: 18px;
  height: 15px;
  opacity: .8;
}
.modal_wrap .modal_block .return:hover,
.modal_wrap .modal_block .close:hover{
  box-shadow: 0 0 0 transparent;
}
.modal_wrap .modal_block .return:hover svg,
.modal_wrap .modal_block .close:hover svg{
  opacity: 1;
}
.modal_wrap .modal_block .close svg path,
.modal_wrap .modal_block .close svg g,
.modal_wrap .modal_block .close svg sybmol,
.modal_wrap .modal_block .close svg rect{
  fill: red;
  -webkit-fill: red;
}
.modal_wrap .modal_block .tariff-block{
  width: 100%;
  display: inline-block;
}
.modal_wrap .modal_block .tariff-block .item:hover *,
.modal_wrap .modal_block .tariff-block .item *{
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: all 0 ease-in;
  transition: none;
}
.modal_wrap .modal_block .tariff-block .item{
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  border: solid 1px #bac6d1;
  box-sizing: border-box;
  float: left;
  margin-bottom: 11px;
  color: #13385b;
  background-size: cover;
}
.modal_wrap .modal_block .tariff-block .item:last-child{
  margin-bottom: 0;
}
.modal_wrap .modal_block .tariff-block.orng .item.active{
  background-image: linear-gradient(256deg, #e9bf15, #e55e1d);
}
.modal_wrap .modal_block .tariff-block .item.active{
  border: 0 solid;
  padding: 1px;
}
.modal_wrap .modal_block .tariff-block .item.active *:not(.btn){
  color: #fff!important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.modal_wrap .modal_block .tariff-block .item .left-block,
.modal_wrap .modal_block .tariff-block .item .right-block{
  float: left;
  display: inline-block;
  box-sizing: border-box;
}
.modal_wrap .modal_block .tariff-block .item .left-block{
  padding: 23px 0 0 0;
  width: 50%;
  text-align: center;
}
.modal_wrap .modal_block .tariff-block .item .right-block{
  padding: 37px 37px 37px 0;
  text-align: right;
  width: 50%;
}
.modal_wrap .modal_block .tariff-block .item .right-block .btn{
  padding: 9px 35px 10px 35px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700!important;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.3px;
  display: inline-block;
  text-align: center;
}
.modal_wrap .modal_block .tariff-block.orng .item .right-block .btn{
  position: relative;
  color: #fe5300;
  border: solid 2px #fe5300;
}
.modal_wrap .modal_block .tariff-block.orng .item:not(.active):hover .right-block .btn{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.modal_wrap .modal_block .tariff-block.orng .item:not(.active):hover .right-block .btn:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.modal_wrap .modal_block .tariff-block .item.active .right-block .btn{
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.modal_wrap .modal_block .tariff-block.orng .item .price{
  color: #fe5300;
}
.modal_wrap .modal_block .tariff-block.orng .item .price{
  font-size: 28px;
  letter-spacing: -0.6px;
}
.modal_wrap .modal_block .tariff-block.orng .item .price.strikeout{
  font-size: 19px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #13385b;
  opacity: .5;
}
.modal_wrap .modal_block .tariff-block .item .price.strikeout:after{
  background-color: #13385b;
  top: 0;
}
.modal_wrap .modal_block .tariff-block .item.active .price.strikeout:after{
  background-color: #fff;
}
.modal_user-block{
  padding-top: 40px;
}
.modal_user-block .avatar{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.modal_wrap .modal_block .configure_access-block{
  padding: 0 40px;
  padding-top: 6px;
  height: 320px;
  margin: -1px -40px 0 -40px;
  box-sizing: content-box;
  overflow: scroll;
}
.modal_wrap .modal_block .configure_access-block .item{
  position: relative;
  width: 100%;
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 20px;
  box-sizing: content-box;
  border-bottom: 1px solid #e1e7eb;
}
.modal_wrap .modal_block .configure_access-block .item.active{
  margin: -21px;
  margin-top: -6px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  border: solid 1px #2e81ec;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.modal_wrap .modal_block .configure_access-block .item .desc{
  font-size: 19px;
  font-weight: normal;
  line-height: 1.37;
  letter-spacing: -0.4px;
  color: #13385b;
  margin-top: 15px;
  float: left;
}
.modal_wrap .modal_block .configure_access-block .item.active .desc{
  margin-top: 5px;
}
.modal_wrap .modal_block .configure_access-block .item.active .set-access{
  display: block;
}
.modal_wrap .modal_block .configure_access-block .item .checkbox{
  margin-right: -4px;
}
.modal_wrap .modal_block .configure_access-block .ico{
  margin-top: 4px;
  margin-right: 14px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 56px;
  float: left;
  opacity: 1;
  text-align: center;
  vertical-align: top;
}
.modal_wrap .modal_block .configure_access-block .item.remove .ico{
  opacity: 0.3;
  background-color: #40607f;
}
.modal_wrap .modal_block .configure_access-block .ico svg{
  display: inline-block;
}
.modal_wrap .modal_block .configure_access-block .ico.vk svg{
  margin-top: 18px;
  width: 25px;
  height: 15px;
}
.modal_wrap .modal_block .configure_access-block .item .ico.vk{
  background-image: linear-gradient(135deg, #5d89bf, #4574ae);
}
.modal_wrap .modal_block .configure_access-block .ico.fb svg{
  margin-top: 13px;
  width: 24px;
  height: 24px;
}
.modal_wrap .modal_block .configure_access-block .item .ico.fb{
  background-image: linear-gradient(121deg, #3161c6, #385aa3);
}
.modal_wrap .modal_block .configure_access-block .ico.inst svg{
  margin-top: 13px;
  width: 24px;
  height: 24px;
}
.modal_wrap .modal_block .configure_access-block .item .ico.inst{
  background-image: linear-gradient(137deg, #395dfa, #544ced 22%, #903acd 45%, #d53592 68%, #f4306d);
}
.modal_wrap .modal_block .configure_access-block .ico.twi svg{
  margin-top: 16px;
  width: 25px;
  height: 20px;
}
.modal_wrap .modal_block .configure_access-block .item .ico.twi{
  background-image: linear-gradient(135deg, #69beff, #0995ff);
}
.modal_wrap .modal_block .configure_access-block .ico use,
.modal_wrap .modal_block .configure_access-block .ico g,
.modal_wrap .modal_block .configure_access-block .ico path{
  fill: #fff;
  -webkit-fill: #fff;
}
.modal_wrap .modal_block .configure_access-block .set-access{
  position: relative;
  display: none;
}
.modal_wrap .modal_block .configure_access-block .set-access .current-title{
  position: relative;
  padding-left: 20px;
  padding-right: 17px;
  background: url(../files/img/lock.svg) left top 5px no-repeat;
  background-size: 12px;
  color: rgba(19, 56, 91, 0.6);
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: -0.4px;
}
.modal_wrap .modal_block .configure_access-block .set-access .current-title:after{
  content: '';
  position: absolute;
  right: 0;
  top: 9px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 6px 0 6px;
  border-color: #2e81ec transparent transparent transparent;
  transition: all .3s;
}
.modal_wrap .modal_block .configure_access-block .set-access.active .current-title:after{
  transform: rotateX(180deg);
  transition: all .3s;
}
.modal_wrap .modal_block .configure_access-block .set-access .current-title .current{
  padding-left: 5px;
  font-weight: 500;
  font-size: 16px;
  font-weight: 400;
  color: #2e81ec;
  cursor: pointer;
}
.modal_wrap .modal_block .configure_access-block .set-access .set-access_list{
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 61px;
  width: 350px;
  display: inline-block;
  list-style: none;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(19, 56, 91, 0.2);
  border: solid 1px rgba(19, 56, 91, 0.2);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.modal_wrap .modal_block .configure_access-block .set-access.active .set-access_list{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.modal_wrap .modal_block .configure_access-block .set-access .set-access_list li{
  padding: 10px 18px 10px 0;
  margin-left: 18px;
  border-bottom: 1px solid #e1e7eb;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: -0.3px;
  color: #13385b;
  cursor: pointer;
}
.modal_wrap .modal_block .configure_access-block .set-access .set-access_list li .title{
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: -0.4px;
  color: #13385b;
}
.modal_wrap .modal_block .configure_access-block .set-access .set-access_list li.select .title{
 color: #2e81ec;
 background: url(../files/img/read.svg) right 1px top 6px no-repeat;
 background-size: 16px;
}
.modal_wrap .modal_block .configure_access-block .set-access .set-access_list li .text{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: -0.3px;
  color: rgba(19, 56, 91, 0.6);
}
/*----Mobile------*/
.login-ic{
  position: relative;
  top: 22px;
  width: 28px;
  height: 22px;
  background: url(../files/img/login.png) left top no-repeat;
  background-size: 28px 22px;
  display: inline-block;
}
.menu-ic{
  position: relative;
  top: 24px;
  margin-right: 10px;
  width: 24px;
  height: 18px;
  display: inline-block;
  cursor: pointer;
}
.menu-ic i{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background-color: #fff;
  display: inline-block;
}
.menu-ic i:first-child{
  top: 0;
}
.menu-ic i:nth-child(2n){
  top: 50%;
  margin-top: -1px;
}
.menu-ic i:last-of-type{
  bottom: 0;
}
.menu-shadow{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: .4;
  cursor: pointer;
}
.wrapper.menu_active .menu-shadow{
  display: inline-block;
}
#menu{
  position: absolute;
  right: 6px;
  top: 64px;
  width: auto;
  background-color: #fff;
  list-style: none;
  box-sizing: border-box;
  width: 210px;
  z-index: 99999;
  display: none;
  border-radius: 3px;
}
.wrapper.menu_active #menu{
  display: inline-block;
}
#menu li{
  padding: 0 0 0 22px;
  display: inline-block;
  width:100%;
  color: #13385b;
  font-size: 18px;
  line-height: 54px;
  height: 54px;
  font-weight: 400;
  text-align: left;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e7eb;
}
#menu li:active,
#menu li:hover{
  color: #3688f0;
}
#menu li:last-child{
  border-bottom: 0 solid;
}
#menu svg{
  margin: 18px 0 12px 0;
  width: 26px;
  height: 20px;
  display: inline-block;
}
#menu svg:nth-child(2n){
  margin-left: 16px;
  margin-right: 16px;
}
#menu svg use{
  fill: #13385b;
  opacity: .35;
}
/*----Style's------*/
a.blue{
  color: #2e81ec;
  text-decoration: none;
  font-weight: 400;
}
.right{
  float: right;
}
.align_center{
  text-align: center!important;
}
.align_right{
  text-align: right;
}
.align_left{
  text-align: left;
}
.color_blue{
  color: #2e81ec;
}
.color_green{
  color: #00b421;
}
.color_blackblue{
  color: #13385b;
}
.color_lightwhite{
  color: rgba(255, 255, 255, 0.7);
}
.color_gray{
  color: rgba(0, 0, 0, 0.5);
}
.color_lightgray{
  color: rgba(19, 56, 91, 0.6);
}
.color_purple{
  color: #9229db;
}
.color_blackblue{
  color: #13385b!important;
}
.l-h_18{
  line-height: 18px;
}
.l-h_21{
  line-height: 21px;
}
.l-h_25{
  line-height: 25px;
}
.l-h_27{
  line-height: 27px;
}
.l-h_42{
  line-height: 42px;
}
.f-s_14{
  font-size: 14px!important;
}
.f-s_16{
  font-size: 16px!important;
}
.f-s_19{
  font-size: 19px!important;
}
.f-s_22{
  font-size: 22px!important;
}
.f-s_40{
  font-size: 40px!important;
}
.f-w_r{
  font-weight: 300;
}
.f-w_sb{
  font-weight: 400;
}
.f-w_b{
  font-weight: 500!important;
}
.b-r_6{
  border-radius: 4px;
}
.b-s_b-b{
  box-sizing: border-box;
}
.border{
  border: 1px solid #bac6d2;
}
.border_bottom{
  border-bottom: 1px solid #e1e7eb;
}
.m-t_8{
  margin-top: 8px;
}
.m-t_7{
  margin-top: 7px;
}
.m-t_10{
  margin-top: 10px;
}
.m-t_11{
  margin-top: 11px;
}
.m-t_12{
  margin-top: 12px;
}
.m-t_15{
  margin-top: 15px;
}
.m-t_16{
  margin-top: 16px;
}
.m-t_17{
  margin-top: 17px;
}
.m-t_18{
  margin-top: 18px;
}
.m-t_20{
  margin-top: 20px;
}
.m-t_23{
  margin-top: 23px;
}
.m-t_26{
  margin-top: 26px;
}
.m-t_29{
  margin-top: 29px;
}
.m-t_30{
  margin-top: 30px;
}
.m-t_32{
  margin-top: 32px;
}
.m-t_36{
  margin-top: 36px;
}
.m-t_42{
  margin-top: 42px;
}
.m-t_60{
  margin-top: 60px;
}
.m-t_62{
  margin-top: 62px;
}
.m-b_-6{
  margin-bottom: -6px;
}
.m-b_9{
  margin-bottom: 9px;
}
.m-b_10{
  margin-bottom: 10px;
}
.m-b_22{
  margin-bottom: 22px;
}
.m-l_3{
  margin-left: 3px;
}
.m-l_6{
  margin-left: 6px;
}
.m-l_8{
  margin-left: 8px;
}
.m-l_15{
  margin-left: 15px;
}
.m-r_30{
  margin-right: 30px;
}
.p-r_10{
  padding-right: 10px;
}
.p-r_20{
  padding-right: 20px;
}
.p-r_50{
  padding-right: 50px;
}
.p-l_0{
  padding-left: 0!important;
}
.p-l_10{
  padding-left: 10px!important;
}
.p-l_18{
  padding-left: 18px!important;
}
.p-l_20{
  padding-left: 20px;
}
.p-l_21{
  padding-left: 21px;
}
.p-l_30{
  padding-left: 30px!important;
}
.p-v_0{
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.p-s_0{
  padding-left: 0!important;
  padding-right: 0!important;
}
.p-s_6{
  padding-left: 6px!important;
  padding-right: 6px!important;
}
.p-s_10{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.p-s_20{
  padding-left: 20px;
  padding-right: 20px;
}
.p-s_30{
  padding-left: 30px;
  padding-right: 30px;
}
.p-s_39{
  padding-left: 39px;
  padding-right: 39px;
}
.p-t_2{
  padding-top: 2px!important;
}
.p-t_4{
  padding-top: 4px!important;
}
.p-t_7{
  padding-top: 7px!important;
}
.p-t_8{
  padding-top: 8px!important;
}
.p-t_9{
  padding-top: 9px!important;
}
.p-t_10{
  padding-top: 10px!important;
}
.p-t_11{
  padding-top: 11px!important;
}
.p-t_14{
  padding-top: 14px;
}
.p-t_15{
  padding-top: 15px;
}
.p-t_18{
  padding-top: 18px;
}
.p-t_20{
  padding-top: 20px;
}
.p-t_21{
  padding-top: 21px;
}
.p-t_22{
  padding-top: 22px;
}
.p-t_23{
  padding-top: 23px;
}
.p-t_24{
  padding-top: 24px;
}
.p-t_25{
  padding-top: 25px;
}
.p-t_26{
  padding-top: 26px;
}
.p-t_27{
  padding-top: 27px;
}
.p-t_28{
  padding-top: 28px;
}
.p-t_29{
  padding-top: 29px;
}
.p-t_30{
  padding-top: 30px;
}
.p-t_32{
  padding-top: 32px;
}
.p-t_34{
  padding-top: 34px;
}
.p-t_39{
  padding-top: 39px;
}
.p-t_41{
  padding-top: 41px;
}
.p-t_43{
  padding-top: 43px;
}
.p-t_46{
  padding-top: 46px;
}
.p-t_57{
  padding-top: 57px;
}
.p-b_5{
  padding-bottom: 5px!important;
}
.p-b_7{
  padding-bottom: 7px!important;
}
.p-b_8{
  padding-bottom: 8px!important;
}
.p-b_9{
  padding-bottom: 9px;
}
.p-b_10{
  padding-bottom: 10px;
}
.p-b_17{
  padding-bottom: 17px;
}
.p-b_22{
  padding-bottom: 22px;
}
.p-b_25{
  padding-bottom: 25px;
}
.p-b_27{
  padding-bottom: 27px;
}
.p-b_34{
  padding-bottom: 34px!important;
}
.p-b_36{
  padding-bottom: 36px!important;
}
.p-b_43{
  padding-bottom: 43px;
}
.p-b_45{
  padding-bottom: 45px;
}
.p-b_47{
  padding-bottom: 47px;
}
.p-b_56{
  padding-bottom: 56px!important;
}
.p-b_60{
  padding-bottom: 60px!important;
}
.d_i-b{
  display: inline-block;
}
.w_auto{
  width: auto;
}
.w_90{
  width: 90px;
}
.w_110{
  width: 110px;
}
.w_158{
  width: 158px;
}
.w_300{
  width: 300px;
}
.w_610{
  width: 610px;
}
.h_42{
  height: 42px;
}
.h_50{
  height: 50px;
}
.h_64{
  height: 64px!important;
}
.cursor_p{
  cursor: pointer;
}
.left{
  float: left;
}
.right{
  float: right;
}
.m-b_0{
  margin-bottom: 0!important;
}
.m-t_-6{
  margin-top: -6px!important;
}
.m-t_32{
  margin-top: 32px!important;
}
.m-t_42 {
    margin-top: 42px;
}
.p-b_47 {
    padding-bottom: 47px;
}
.p-s_39 {
    padding-left: 39px;
    padding-right: 39px;
}
.p-s_150{
  padding-left: 150px!important;
  padding-right: 150px!important;
}
.p_relative{
  position: relative;
}
.m_show{
  display: none;
}
@media(min-width: 1440px){
  .slide.header:before{
    background-image: url(../files/img/bg/1440.jpg);
  }
}
@media(min-width: 1920px){
  .slide.header:before{
    background-image: url(../files/img/bg/1920.jpg);
  }
}
@media(min-width: 2800px){
  .slide.header:before{
    background-image: url(../files/img/bg/2800.jpg);
  }
}
@media(max-width: 1024px){
  .m_show{
    display: inline-block;
  }
  .m_hide{
    display: none;
  }
  .row{
    padding: 0 15px;
  }
  .slide.header .scl-block,
  .slide.header .menu,
  .slide.header .reg,
  .slide.header .nav,
  .slide.header .middle-content .help{
    display: none;
  }
  .slide.header{
    min-height: 0;
    padding: 0 24px;
    height: auto;
    box-sizing: border-box;
  }
  .slide.header:before{
    min-height: 0;
  }
  .slide.header .logo{
    margin-top: 24px;
    float: left;
  }
  .slide.header .middle-content{
    position: relative;
    margin-top: 75px;
    bottom: auto;
    width: auto;
    height: auto;
    font-size: 17px;
    line-height: 21px;
    box-sizing: border-box;
  }
  .slide.header .middle-content .title{
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 12px;
  }
  .slide.header .scl-btn_block{
    position: relative;
    padding-top: 33px;
    padding-bottom: 31px;
    bottom: auto;
  }
  .slide.header .scl-btn_block .title{
    font-size: 15px;
    line-height: 20px;
  }
  .slide.header .scl-btn_block li{
    margin-left: 8px;
  }
  .slide.header .scl-btn_block li .scl-btn_item{
    width: 24px;
    height: 24px;
    background-size: 24px!important;
  }
  .tooltip:after{
    left: -140px;
  }
  .screen_video{
    padding: 0 27px 24px 27px;
    text-align: left;
  }
  .screen_video .title{
    font-size: 26px;
    line-height: 33px;
    padding: 36px 0 17px 0;
    text-align: center;
  }
  .screen_video .nav-tree{
    width: 130px;
    text-align: left;
    margin-bottom: 10px;
  }
  .screen_video .nav-tree li{
    position: relative;
    padding-left: 30px;
    width: 100%;
    padding-right: 0;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-weight: 400;
  }
  .screen_video .nav-tree li:after{
    display: none;
  }
  .screen_video .nav-tree li:before{
    position: absolute;
    left: 0;
    top: -8px;
    bottom: 0;
    margin: auto;
    width: 22px;
    height: 22px;
    line-height: 24px;
    font-size: 15px;
    text-align: center;
  }
  .screen_examples{
    padding: 36px 0 44px 0;
  }
  .screen_examples .title{
    padding-bottom: 16px;
    font-size: 26px;
    line-height: 33px;
  }
  .screen_examples .content{
    padding: 30px 27px 0 27px;
    box-sizing: border-box;
    width: 100%;
  }
  .screen_examples .content li{
    padding-left: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 24px!important;
  }
  .screen_examples .content li:before,
  .screen_examples .content li.aim:before{
    left: 0;
    top: -3px;
    height: 50px;
    width: 50px;
    background-size: 50px;
  }
  .screen_examples .content li .title{
    padding-left: 62px;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    box-sizing: border-box;
    width: auto;
  }
  .screen_examples .content li .text{
    font-size: 15px;
    padding-left: 62px;
    line-height: 20px;
    padding-top: 9px;
    width: auto;
  }
  .screen_possibility{
    box-sizing: border-box;
    padding: 0 16px;
    margin-bottom: 31px;
  }
  .screen_possibility .title{
    padding-top: 36px;
    padding-bottom: 19px;
    font-size: 26px;
    line-height: 33px;
  }
  .screen_possibility .possibility_block{
    padding-top: 0;
    padding-left: 52px;
    margin: 0 0 17px 0!important;
    float: none;
    text-align: left;
    width: 100%;
    max-width: 360px;
    background-position: left top;
    background-size: 40px;
    box-sizing: border-box;
  }
  .screen_possibility .possibility_block .title{
    font-size: 17px;
    line-height: 20px;
    text-align: left;
  }
  .screen_possibility .possibility_block .title br{
    display: none;
  }
  .screen_possibility .possibility_block .text{
    margin-top: 4px;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
  }
  .pay_screen .row{
    padding-left: 6px;
    padding-right: 6px;
  }
  .pay_screen .title{
    padding-top: 36px;
    font-size: 26px;
    line-height: 33px;
  }
  .pay_screen .text{
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 19px;
    width: 100%;
    margin-left: 0;
  }
  .pay_screen .price-block{
    display: none;
  }
  .pay_screen .m_price-block{
    display: table;
  }
  .pay_screen .pay-block{
    position: relative;
    padding-bottom: 30px;
    vertical-align: top;
  }
  .pay_screen .pay-block .icon{
    margin-top: 13px;
    margin-right: 9px;
    display: inline-block;
    vertical-align: top;
  }
  .pay_screen .pay-block .icon path,
  .pay_screen .pay-block .icon use,
  .pay_screen .pay-block .icon symbol,
  .pay_screen .pay-block .icon g{
    fill: #13385b;
    -webkit-fill: #13385b;
    opacity: .3;
  }
  .pay_screen .pay-block .icon.visa{
    margin-top: 17px;
    width: 39px;
    height: 13px;
  }
  .pay_screen .pay-block .icon.mastercard{
    width: 35px;
    height: 22px;
  }
  .pay_screen .pay-block .icon.qiwi{
    width: 23px;
    height: 24px;
  }
  .pay_screen .pay-block .icon.webmoney{
    width: 21px;
    height: 22px;
  }
  .pay_screen .pay-block .icon.yandexmoney{
    width: 19px;
    height: 21px;
  }
  .contact_screen{
    padding-bottom: 56px;
  }
  .contact_screen .title{
    padding-top: 36px;
    padding-bottom: 5px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
  }
  .contact_screen .contact_form{
    padding: 0 37px;
    box-sizing: border-box;;
    width: 100%;
  }
  .contact_screen .contact_form .text-form{
    padding-left: 0;
    padding-right: 0;
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-top: 14px;
    max-width: 100%;
    font-weight: 300;
    height: 40px;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
  }
  .footer{display: none;}
  .m_footer{
    padding: 0 0 20px 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    color: rgba(19, 56, 91, 0.5);
    background-color: #fff;
    display: inline-block;
  }
  .m_footer *{
    font-weight: 400;
    vertical-align: top;
    text-align: center;
  }
  .m_footer .nav{
    margin-top: 5px;
    list-style: none;
    display: inline-block;
    width: 100%;
  }
  .m_footer .nav li{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    font-weight: 400;
    text-align: center;
    color: rgba(19, 56, 91, 0.5);
  }
  .m_footer .nav li a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  .m_footer .nav li:after{
    content: '∙';
    padding: 0 11px 0 15px;
    font-weight: 500;
    display: inline-block;
  }
  .m_footer .nav li:last-child:after{display: none;}
  .m_footer a.blue{
    font-size: 16px;
    letter-spacing: -0.4px;
  }
  .m_footer .scl-block{
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 19px 0 24px 0;
  }
  .m_footer .scl-block li.scl-ic{
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
  }
  .m_footer .scl-block li.scl-ic:last-child{
    margin-right: 0;
  }
  .m_footer .scl-block li.scl-ic.vk{
    margin-top: 2px;
  }
  .m_footer .scl-block li.scl-ic.vk svg{
    width: 26px;
    height: 16px;
  }
  .m_footer .scl-block li.scl-ic.fb svg{
    width: 20px;
    height: 20px;
  }
  .m_footer .scl-block li.scl-ic.twi{
    margin-top: 1px;
  }
  .m_footer .scl-block li.scl-ic.twi svg{
    width: 23px;
    height: 18px;
  }
  .m_footer .scl-block li svg use{
    fill: #13385b;
    opacity: .35;
  }
  .m_footer .scl-block li.scl-ic:hover svg use{
    opacity: 1;
  }
  .modal_wrap .modal_block,
  .modal_wrap .modal_container{
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%!important;
    height: 100%!important;
    box-sizing: border-box;
  }
  .modal_wrap .modal_block{
    padding: 20px;
  }
  .modal_wrap .modal_block .text-form{
    font-size: 18px;
    height: 40px;
  }
  .text-form_support__text{
    padding: 11px 6px;
    font-size: 13px;
  }
  .btn{
    padding-top: 0!important;
    padding-bottom: 0!important;
    height: 38px!important;
    font-size: 17px!important;
    line-height: 42px!important;
  }
  .btn.white{
    line-height: 36px!important;
  }
  .m_h_50.btn{
    height: 50px!important;
    font-size: 21px!important;
    line-height: 52px!important;
  }

  /*------Mobile Style's-------*/
  .m_p-s_0{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .m_p-t_0{
    padding-top: 0!important;
  }
  .m_p-b_12{
    padding-bottom: 12px!important;
  }
  .m_p-t_8{
    padding-top: 8px!important;
  }
  .m_p-t_12{
    padding-top: 12px!important;
  }
  .m_p-t_17{
    padding-top: 17px!important;
  }
  .m_p-t_32{
    padding-top: 32px!important;
  }
  .m_m-t_17{
    margin-top: 17px!important;
  }
  .m_m-t_20{
    margin-top: 20px!important;
  }
  .m_f-s_26{
    font-size: 26px!important;
  }
  .m_l-h_26{
    line-height: 26px!important;
  }
  .f-s_13{
    font-size: 13px!important;
  }
  .m_col_12{
    width: 100%!important;
  }
}
@media(max-width: 410px){
  .screen_video .nav-tree,
  .screen_video .nav-tree li{
    width: 100%;
  }
  .screen_video .nav-tree li:before{
    top: 0;
  }
}
