/*
  HTML5 Boilerplate
  style.css contains a reset, font normalization and some base styles.
*/
/* Reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
button
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}
nav ul
{
    list-style: none;
}
blockquote,
q
{
    quotes: none;
}
textarea
{
    resize: none;
    outline: none;
    border: 0 solid;
}
blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';    content: none;
}
a
{
    font-size: 100%;

    margin: 0; padding: 0; vertical-align: baseline; background: transparent;
}
ins
{
    text-decoration: none; color: #000;
    background-color: #ff9;
}
mark
{
    font-weight: bold; font-style: italic; color: #000;
    background-color: #ff9;
}
del
{
    text-decoration: line-through;
}
abbr[title],
dfn[title]
{
    cursor: help;

    border-bottom: 1px dotted;
}
table
{
    border-spacing: 0; border-collapse: collapse;
}
hr
{
    display: block; height: 1px; margin: 1em 0; padding: 0; border: 0; border-top: 1px solid #ccc;
}
input,
select
{
    vertical-align: middle;
}
select
{
    outline: none;
}
label{
    cursor: pointer;
}
/* End reset */
