@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic');
@import url('reset.css');
/*@import url('fonts.css');*/
.include-svg-all{display: none;}
html,
body{
  min-width: 980px;
  background-color: #e4ecf3;
}
a{
  text-decoration: none;
}
*{
  vertical-align: top;
  transition: color .3s;
}
*:hover{
  transition: color .3s;
}
.wrapper{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-weight: 300;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.row{
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1080px;
}
.wrap{
  display: inline-block;
}
/*----Style's------*/
.header{
  background-image: linear-gradient(to right, #4611a0, #6037dd 46%, #337ee9);
}
.header .top{
  padding-top: 21px;
}
.header .top .nav-tree{
  display: inline-block;
  list-style: none;
}
.header .top .nav-tree li{
  position: relative;
  padding: 0 24px 0 15px;
  font-size: 19px;
  line-height: 1.32;
  letter-spacing: -0.4px;
  display: inline-block;
}
.header .top .nav-tree li a{
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  text-decoration: none;
}
.header .top .nav-tree li.active a,
.header .top .nav-tree li:hover a{
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
}
.header .top .nav-tree li.active:after{
  content: '';
  position: absolute;
  right: 0;
  top: 8px;
  width: 7px;
  height: 11px;
  display: inline-block;
  background: url(../files/img/arrow.svg) left top no-repeat;
  background-size: 7px;
}
.header .top .login{
  margin: 8px 30px 0 20px;
  float: right;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: -0.3px;
  text-align: right;
  color: rgba(255, 255, 255, .8);
  font-weight: 300;
  text-decoration: none;
}
.header .top .login:hover{
  color: #fff;
}
.header .top .scl-btns{
  margin-top: 11px;
  float: right;
  display: inline-block;
}
.header .top .scl-btns .item{
  transition: all .3s;
  margin-right: 10px;
  display: inline-block;
  opacity: .8;
  cursor: pointer;
}
.header .top .scl-btns .item:hover{
  transition: all .3s;
  opacity: 1;
}
.header .top .scl-btns .item.vk{
  width: 26px;
  height: 16px;
  background: url(../files/img/ic-vk.svg) left top no-repeat;
  background-size: 26px;
}
.header .top .scl-btns .item.twi{
  margin-bottom: -1px;
  width: 23px;
  height: 18px;
  background: url(../files/img/ic-twi.svg) left top no-repeat;
  background-size: 23px;
}
.header .top .scl-btns .item.fb{
  margin-bottom: -2px;
  width: 20px;
  height: 20px;
  background: url(../files/img/ic-fb.svg) left top no-repeat;
  background-size: 20px;
}
.header .top .btn.white{
  float: right;
  padding: 10px 22px 5px 22px;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: -0.3px;
  text-align: center;
  color: #4417c2;
}
.header .top .logo{
  margin-top: 12px;
  width: 166px;
  height: 17px;
  display: inline-block;
  background: url(../files/img/logo.svg) left top no-repeat;
  background-size: 166px;
}
.header .bottom{
  margin-top: 23px;
  padding-bottom: 91px;
}
.container{
  margin-top: -61px;
  display: table;
}
.container .content{
  padding-right: 14px;
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.container .content .block{
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.container .content .block.block_min{
  width: 49.2%;
  margin-bottom: 12px;
}
.container .content .block.block_min:nth-child(odd){
  float: left;
  margin-right: 1.6%;
}
.container .content .block.block_min:nth-child(even){
  float: right;
}
.container .content .block.block_min .content_text{
  padding: 30px 26px 24px 26px;
  font-weight: 300;
}
.container .content .block .cover{
  position: relative;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-image: linear-gradient(114deg, #52dcd4, #44aff5);
}
.container .content .block.block_min .cover{
  margin-bottom: -12px;
}
.container .content .block .cover img{
  height: 100%;
  width: 100%;
  margin: auto;
  display: inline-block;
}
.container .content .block .content_text{
  padding: 24px 40px 40px 40px;
  font-weight: 400;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.4px;
  color: #13385b;
}
.container .content .block .content_text .title{
  padding: 21px 0 13px 0;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #13385b;
}
.container .content .block.block_min .content_text .title{
  padding-top: 14px;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: -0.6px;
}
.container .content .block .content_text img{
  border: 1px solid rgba(19,56,91,0.1);
  width: 100%;
}
.container .content .block .content_text .share-btns{
  margin-left: 16px;
  list-style: none;
  display: inline-block;
}
.container .content .block .content_text .share-btns li{
  display: inline-block;
  margin-right: 8px;
}
.container .content .block .content_text .share-btns li i{
  margin-bottom: -10px;
  display: inline-block;
  width: 34px;
  height: 34px;
  background-size: 34px;
  background-repeat: no-repeat;
  background-position: left top;
}
.container .content .block .content_text .share-btns li i.vk{
  background-image: url(../files/img/vk.png);
}
.container .content .block .content_text .share-btns li i.tel{
  background-image: url(../files/img/tel.png);
}
.container .content .block .content_text .share-btns li i.twi{
  background-image: url(../files/img/twi.png);
}
.container .content .block .content_text .share-btns li i.fb{
  background-image: url(../files/img/fb.png);
}
.container .content .block .content_text .comments-block{
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
.container .content .block .content_text .comments-block .item{
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
}
.container .content .block .content_text .comments-block .item:last-child{
  margin-bottom: 0;
}
.container .content .block .content_text .comments-block .item .head{
  padding-bottom: 7px;
  display: inline-block;
  width: 100%;
}
.container .content .block .content_text .comments-block .item .head .name{
  position: relative;
  padding-left: 23px;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.4px;
  color: #13385b;
  display: inline-block;
}
.container .content .block .content_text .comments-block .item .head .name:before{
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../files/img/cmnt.png);
  background-size: 15px;
}
.container .content .block .content_text .comments-block .item .head .date{
  padding-left: 8px;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: -0.4px;
  color: rgba(19, 56, 91, 0.6);
  display: inline-block;
}
.container .content .block .content_text .comments-block .item .body{
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: -0.4px;
  color: #13385b;
  display: inline-block;
  width: 100%;
}
.container .sidebar{
  width: 276px;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}
.container .sidebar .block{
  margin-bottom: 14px;
  padding: 23px 30px 30px 30px;
  width: 100%;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #13385b;
  display: inline-block;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.container .sidebar .block .top-post{
  display: inline-block;
  list-style: none;
  margin: 2px 0 -5px 0;
}
.container .sidebar .block .top-post li{
  padding-top: 16px;
  display: inline-block;
  width: 100%;
}
.container .sidebar .block .top-post li .title{
  font-size: 19px;
  line-height: 1.16;
  letter-spacing: -0.4px;
  color: #2e81ec;
}
.container .sidebar .block .top-post li .comment{
  margin-top: 1px;
  position: relative;
  padding-left: 23px;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: -0.4px;
  color: rgba(19, 56, 91, 0.6);
}
.container .sidebar .block .top-post li .comment:before{
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 6px;
  width: 15px;
  height: 15px;
  background: url(../files/img/cmnt.png) left top no-repeat;
}
/*----Element's------*/
.text-form{
  display: inline-block;
  padding: 0 20px 0 20px;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: -0.4px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  color: #13385b;
  background-color: #fff;
  border: solid 1px #bac6d1;
  outline: none;
}
.text-form.h_42{
  line-height: 23px;
  font-size: 16px;
  height: 42px;
}
.text-form::-webkit-input-placeholder {color: rgba(19, 56, 91, 0.4);}
.text-form::-moz-placeholder          {color: rgba(19, 56, 91, 0.4);}
.text-form:-moz-placeholder           {color: rgba(19, 56, 91, 0.4);}
.text-form:-ms-input-placeholder      {color: rgba(19, 56, 91, 0.4);}
.text-form:focus{
  box-shadow: 0 1px 2px 0 rgba(46, 128, 236, 0.2);
  border: solid 1px #2e81ec;
}
textarea.text-form{
  padding: 12px 20px;
  height: 130px;
  resize: none;
}
textarea.text-form.autosize{
  padding-top: 9px;
  padding-bottom: 6px;
  height: 39px;
  max-height: 200px;
  margin-bottom: 6px;
}
.btn{
  padding: 9px 51px 6px 51px;
  border-radius: 4px;
  box-sizing: border-box;
  height: 42px;
  font-size: 19px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}
.btn.green{
  background-image: linear-gradient(280deg, #41c539, #2dce71);
}
.btn.blue{
  background-image: linear-gradient(101deg, #4f9dff, #2e82ed);
}
.btn.blue:not(.news):hover{
  background-image: linear-gradient(rgba(0, 98, 225, 0.5), rgba(0, 98, 225, 0.5)), linear-gradient(106deg, #4f9dff, #2e82ed);
  transition: .2s all;
}
.btn.blue:not(.news):active{
  color: rgba(255, 255, 255, 0.5);
}
.btn.white{
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  transition: all .3s;
}
.btn.white.blue{
  color: #2e81ec!important;
  box-shadow: 0 0 0 transparent;
  text-shadow: 0 0 0 transparent;
  border: 2px solid #2e81ec;
  background: transparent;
  font-weight: 400;
}
.btn.white:hover{
  background-color: #fff;
  transition: all .3s;
}
.btn.white.blue:hover{
  background: #fff!important;
}
.btn.btn_cmnt{
  position: relative;
  padding: 8px 20px 0 43px;
  font-size: 16px;
  font-weight: 500;
  font-weight: 400;
  line-height: 1.44;
  letter-spacing: -0.4px;
  color: #2e81ec;
  border: solid 2px #2e81ec;
  transition: all .3s;
}
.btn.btn_cmnt:before{
  content: '';
  position: absolute;
  left: 18px;
  top: 12px;
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../files/img/cmnt_blue.png) left top no-repeat;
}
.btn.btn_cmnt:hover{
  text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  transition: all .3s;
}
.btn.btn_cmnt:active{
  text-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  transition: all .3s;
}
.btn.edu,
.btn.news{
  position: relative;
  padding: 14px 30px 8px 49px;
  height: 51px;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all .3s;
}
.btn.news{
  background-image: linear-gradient(102deg, #3d9de7, #4ca5e0);
}
.btn.news:before,
.btn.edu:before{
  content: '';
  position: absolute;
  display: inline-block;
}
.btn.edu:before{
  left: 13px;
  top: 13px;
  width: 25px;
  height: 25px;
  background: url(../files/img/ic-edu.svg) left top no-repeat;
  background-size: 25px;
}
.btn.news:before{
  left: 14px;
  top: 14px;
  width: 23px;
  height: 23px;
  background: url(../files/img/ic-news.png) left top no-repeat;
  background-size: 23px;
}
.btn.edu:hover,
.btn.news:hover{
  transition: all .3s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.checkbox{
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
.checkbox label:before{
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #9dacba;
}
.checkbox label.f-s_19:before{
  top: 3px;
}
.checkbox input{display: none;}
.checkbox label{
  position: relative;
  padding-left: 34px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.44;
  letter-spacing: -0.4px;
  color: rgba(19, 56, 91, 0.6);
  cursor: pointer;
  display: inline-block;
}
.checkbox input:checked + label:before{
  border-width: 0;
  background: url(../files/img/arrow_temp.png) center center no-repeat, linear-gradient(135deg, #4f9dff, #2e82ed) left top;
}
/*-----Stylezator------*/
*[class*="col_"]{
  display: inline-block;
  box-sizing: border-box;
}
.col_12{
  width: 100%;
  max-width: 850px;
}
.col_8{
  width: 60%;
  float: left;
}
.col_6{
  width: 50%;
  float: left;
}
.col_4{
  width: 33%;
  float: left;
}
a.blue{
  color: #2e81ec;
  text-decoration: none;
  font-weight: 400;
}
.left{
  float: left;
}
.right{
  float: right;
}
.v-a_top{
  vertical-align: top;
}
.align_center{
  text-align: center;
}
.align_right{
  text-align: right;
}
.align_left{
  text-align: left;
}
.color_white{
  color: #fff;
}
.color_blue{
  color: #2e81ec;
}
.color_green{
  color: #00b421;
}
.color_gray{
  color: rgba(0, 0, 0, 0.5);
}
.color_lightwhite{
  color: rgba(255, 255, 255, 0.7);
}
.color_lightblue{
  color: rgba(22, 73, 110, 0.6);
}
.color_lightgray{
  color: rgba(19, 56, 91, 0.6);
}
.color_purple{
  color: #9229db;
}
.color_blackblue{
  color: #13385b!important;
}
.color_black{
  color: #000!important;
}
.l-h_18{
  line-height: 18px;
}
.l-h_21{
  line-height: 21px;
}
.l-h_23{
  line-height: 23px!important;
}
.l-h_25{
  line-height: 25px;
}
.l-h_26{
  line-height: 26px;
}
.l-h_27{
  line-height: 27px;
}
.l-h_44{
  line-height: 44px;
}
.t-t_up{
  text-transform: uppercase;
}
.f-s_14{
  font-size: 14px!important;
}
.f-s_16{
  font-size: 16px!important;
}
.f-s_17{
  font-size: 17px!important;
}
.f-s_19{
  font-size: 19px!important;
}
.f-s_22{
  font-size: 22px!important;
}
.f-s_30{
  font-size: 30px!important;
}
.f-s_40{
  font-size: 40px!important;
}
.f-w_r{
  font-weight: 300!important;
}
.f-w_sb{
  font-weight: 400!important;
}
.f-w_b{
  font-weight: 500!important;
}
.b-r_5{
  border-radius: 5px;
}
.b-r_6{
  border-radius: 6px;
}
.b-r_a{
  border-radius: 100%;
}
.b-s_b-b{
  box-sizing: border-box;
}
.border{
  border: 1px solid #bac6d2;
}
.border_bottom{
  border-bottom: 1px solid #e1e7eb;
}
.m-t_-35{
  margin-top: -35px;
}
.m-t_-25{
  margin-top: -25px;
}
.m-t_-13{
  margin-top: -13px;
}
.m-t_-6{
  margin-top: -6px;
}
.m-t_4{
  margin-top: 4px;
}
.m-t_5{
  margin-top: 5px!important;
}
.m-t_6{
  margin-top: 6px;
}
.m-t_7{
  margin-top: 7px;
}
.m-t_8{
  margin-top: 8px!important;
}
.m-t_9{
  margin-top: 9px!important;
}
.m-t_10{
  margin-top: 10px!important;
}
.m-t_11{
  margin-top: 11px!important;
}
.m-t_12{
  margin-top: 12px!important;
}
.m-t_14{
  margin-top: 14px;
}
.m-t_15{
  margin-top: 15px;
}
.m-t_16{
  margin-top: 16px;
}
.m-t_17{
  margin-top: 17px;
}
.m-t_18{
  margin-top: 18px;
}
.m-t_20{
  margin-top: 20px;
}
.m-t_23{
  margin-top: 23px;
}
.m-t_25{
  margin-top: 25px;
}
.m-t_28{
  margin-top: 28px;
}
.m-t_29{
  margin-top: 29px;
}
.m-t_30{
  margin-top: 30px;
}
.m-t_32{
  margin-top: 32px;
}
.m-t_35{
  margin-top: 35px;
}
.m-t_36{
  margin-top: 36px;
}
.m-t_42{
  margin-top: 42px;
}
.m-t_50{
  margin-top: 50px;
}
.m-t_55{
  margin-top: 55px;
}
.m-t_59{
  margin-top: 59px;
}
.m-t_60{
  margin-top: 60px;
}
.m-t_62{
  margin-top: 62px;
}
.m-t_65{
  margin-top: 65px;
}
.m-b_8{
  margin-bottom: 8px;
}
.m-b_9{
  margin-bottom: 9px;
}
.m-b_10{
  margin-bottom: 10px;
}
.m-b_17{
  margin-bottom: 17px;
}
.m-b_20{
  margin-bottom: 20px;
}
.m-b_21{
  margin-bottom: 21px!important;
}
.m-b_22{
  margin-bottom: 22px;
}
.m-b_30{
  margin-bottom: 30px;
}
.m-l_3{
  margin-left: 3px;
}
.m-l_6{
  margin-left: 6px;
}
.m-l_8{
  margin-left: 8px;
}
.m-l_10{
  margin-left: 10px;
}
.m-l_15{
  margin-left: 15px;
}
.m-l_40{
  margin-left: 40px;
}
.m-r_6{
  margin-right: 6px;
}
.m-r_7{
  margin-right: 7px;
}
.m-r_8{
  margin-right: 8px;
}
.m-r_10{
  margin-right: 10px;
}
.m-r_14{
  margin-right: 14px;
}
.m-r_16{
  margin-right: 16px;
}
.m-r_30{
  margin-right: 30px;
}
.m-r_40{
  margin-right: 40px;
}
.p-r_5{
  padding-right: 5px;
}
.p-r_10{
  padding-right: 10px;
}
.p-r_12{
  padding-right: 12px;
}
.p-r_20{
  padding-right: 20px;
}
.p-r_45{
  padding-right: 45px;
}
.p-r_50{
  padding-right: 50px;
}
.p-r_55{
  padding-right: 55px;
}
.p-r_57{
  padding-right: 57px;
}
.p-r_70{
  padding-right: 70px;
}
.p-r_96{
  padding-right: 96px;
}
.p-l_5{
  padding-left: 5px!important;
}
.p-l_10{
  padding-left: 10px!important;
}
.p-l_11{
  padding-left: 11px!important;
}
.p-l_12{
  padding-left: 12px!important;
}
.p-l_14{
  padding-left: 14px!important;
}
.p-l_16{
  padding-left: 16px!important;
}
.p-l_18{
  padding-left: 18px!important;
}
.p-l_20{
  padding-left: 20px!important;
}
.p-l_21{
  padding-left: 21px;
}
.p-l_25{
  padding-left: 25px;
}
.p-l_30{
  padding-left: 30px!important;
}
.p-l_32{
  padding-left: 32px!important;
}
.p-l_64{
  padding-left: 64px!important;
}
.p-s_0{
  padding-left: 0!important;
  padding-right: 0!important;
}
.p-s_6{
  padding-left: 6px!important;
  padding-right: 6px!important;
}
.p-s_10{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.p-s_18{
  padding-left: 18px!important;
  padding-right: 18px!important;
}
.p-s_20{
  padding-left: 20px;
  padding-right: 20px;
}
.p-s_24{
  padding-left: 24px;
  padding-right: 24px;
}
.p-s_26{
  padding-left: 26px!important;
  padding-right: 26px!important;
}
.p-s_30{
  padding-left: 30px!important;
  padding-right: 30px!important;
}
.p-s_39{
  padding-left: 39px;
  padding-right: 39px;
}
.p-t_2{
  padding-top: 2px!important;
}
.p-t_3{
  padding-top: 3px!important;
}
.p-t_4{
  padding-top: 4px!important;
}
.p-t_6{
  padding-top: 6px!important;
}
.p-t_7{
  padding-top: 7px!important;
}
.p-t_8{
  padding-top: 8px!important;
}
.p-t_9{
  padding-top: 9px!important;
}
.p-t_10{
  padding-top: 10px!important;
}
.p-t_11{
  padding-top: 11px!important;
}
.p-t_12{
  padding-top: 12px!important;
}
.p-t_13{
  padding-top: 13px!important;
}
.p-t_14{
  padding-top: 14px;
}
.p-t_15{
  padding-top: 15px;
}
.p-t_16{
  padding-top: 16px;
}
.p-t_17{
  padding-top: 17px;
}
.p-t_18{
  padding-top: 18px!important;
}
.p-t_20{
  padding-top: 20px;
}
.p-t_21{
  padding-top: 21px;
}
.p-t_22{
  padding-top: 22px;
}
.p-t_23{
  padding-top: 23px;
}
.p-t_24{
  padding-top: 24px;
}
.p-t_25{
  padding-top: 25px;
}
.p-t_26{
  padding-top: 26px!important;
}
.p-t_27{
  padding-top: 27px;
}
.p-t_28{
  padding-top: 28px;
}
.p-t_29{
  padding-top: 29px;
}
.p-t_31{
  padding-top: 31px;
}
.p-t_32{
  padding-top: 32px;
}
.p-t_33{
  padding-top: 33px!important;
}
.p-t_34{
  padding-top: 34px;
}
.p-t_39{
  padding-top: 39px;
}
.p-t_41{
  padding-top: 41px;
}
.p-t_43{
  padding-top: 43px;
}
.p-b_0{
  padding-bottom: 0!important;
}
.p-b_4{
  padding-bottom: 4px!important;
}
.p-b_5{
  padding-bottom: 5px!important;
}
.p-b_7{
  padding-bottom: 7px!important;
}
.p-b_8{
  padding-bottom: 8px!important;
}
.p-b_9{
  padding-bottom: 9px;
}
.p-b_10{
  padding-bottom: 10px;
}
.p-b_11{
  padding-bottom: 11px;
}
.p-b_13{
  padding-bottom: 13px;
}
.p-b_15{
  padding-bottom: 15px;
}
.p-b_17{
  padding-bottom: 17px;
}
.p-b_18{
  padding-bottom: 18px;
}
.p-b_19{
  padding-bottom: 19px;
}
.p-b_20{
  padding-bottom: 20px;
}
.p-b_22{
  padding-bottom: 22px;
}
.p-b_24{
  padding-bottom: 24px;
}
.p-b_25{
  padding-bottom: 25px;
}
.p-b_27{
  padding-bottom: 27px;
}
.p-b_30{
  padding-bottom: 30px;
}
.p-b_31{
  padding-bottom: 31px;
}
.p-b_35{
  padding-bottom: 35px;
}
.p-b_42{
  padding-bottom: 42px;
}
.p-b_43{
  padding-bottom: 43px;
}
.p-b_45{
  padding-bottom: 45px;
}
.p-b_47{
  padding-bottom: 47px;
}
.p-b_56{
  padding-bottom: 56px!important;
}
.p-b_50{
  padding-bottom: 50px!important;
}
.p-b_60{
  padding-bottom: 60px!important;
}
.d_i-b{
  display: inline-block;
}
.w_30{
  width: 30px;
}
.w_50{
  width: 50px;
}
.w_90{
  width: 90px;
}
.w_158{
  width: 158px;
}
.w_230{
  width: 230px;
}
.w_250{
  width: 250px;
}
.w_255{
  width: 255px;
}
.w_300{
  width: 300px;
}
.w_330{
  width: 330px;
}
.w_500{
  width: 500px;
}
.w_610{
  width: 610px;
}
.h_42{
  height: 42px;
}
.h_50{
  height: 50px;
}
.h_64{
  height: 64px!important;
}
.h_90{
  height: 90px;
}
.autosize.h_90{
  min-height: 90px;
}
.disable-wrap{
  position: relative;
  opacity: .5;
  display: inline-block;
}
.disable-wrap.active{
  opacity: 1;
}
.disable-wrap.active:after{
  display: none;
}
.disable-wrap:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.cursor_p{
  cursor: pointer;
}
.bg_white{
  background-color: #fff;
}
.p_absolute{
  position: absolute;
}
.m_show{
  display: none;
}

.footer{
  padding: 20px 0 20px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  color: rgba(19, 56, 91, 0.5);
  background-color: #fff;
}
.footer *{
  font-weight: 400;
  vertical-align: top;
  text-align: center;
}
.footer .nav{
  margin-top: 5px;
  list-style: none;
  display: inline-block;
  width: 100%;
}
.footer .nav li{
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  font-weight: 400;
  text-align: center;
  color: rgba(19, 56, 91, 0.5);
}
.footer .nav li a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.footer .nav li:after{
  content: '∙';
  padding: 0 11px 0 15px;
  font-weight: 500;
  display: inline-block;
}
.footer .nav li:last-child:after{display: none;}
.footer a.blue{
  font-size: 16px;
  letter-spacing: -0.4px;
}
.footer .scl-block{
  display: inline-block;
  list-style: none;
  width: 100%;
  margin: 19px 0 24px 0;
}
.footer .scl-block li.scl-ic{
  display: inline-block;
  margin-right: 12px;
  cursor: pointer;
}
.footer .scl-block li.scl-ic:last-child{
  margin-right: 0;
}
.footer .scl-block li.scl-ic.vk{
  margin-top: 2px;
}
.footer .scl-block li.scl-ic.vk svg{
  width: 26px;
  height: 16px;
}
.footer .scl-block li.scl-ic.fb svg{
  width: 20px;
  height: 20px;
}
.footer .scl-block li.scl-ic.twi{
  margin-top: 1px;
}
.footer .scl-block li.scl-ic.twi svg{
  width: 23px;
  height: 18px;
}
@media(max-width:1200px){
  .container .content .block .cover{
    height: 220px;
  }
}
@media(max-width:1080px){
  .header,
  .container{
    padding: 0 6px;
  }
  .container{
    box-sizing: border-box;
  }
  .container .content .block.block_min .content_text .btn.btn_cmnt{
    margin-top: 6px;
  }
}
@media(max-width:1024px){
  html,
  body{
    min-width: 320px;
    text-align: center;
  }
  .header{
    padding: 16px 20px;
    text-align: left;
    height: 220px;
    box-sizing: border-box;
  }
  .post .header{
    padding: 16px 4px;
    height: auto;
    box-sizing: content-box;
  }
  .header .top{
    padding-top: 0;
  }
  .header .top .nav-tree li{
    font-size: 18px;
    line-height: 25px;
  }
  .post .header .top .logo,
  .scl-btns,
  .post .header .bottom,
  .header .top .btn.white,
  .header .top .login{
    display: none!important;
  }
  .header .top .logo{
    margin-top: 0;
    width: 156px;
    height: 16px;
    background-size: 156px;
  }
  .header .bottom{
    padding-bottom: 0;
    margin-top: 19px;
  }
  .btn.edu,
  .btn.news{
    padding: 8px 20px 5px 44px!important;
    margin-bottom: 6px;
    height: 38px;
    font-size: 17px;
    line-height: 25px;
  }
  .btn.edu:before{
    top: 8px;
  }
  .btn.news:before{
    top: 9px;
  }
  .container{
    padding: 0 6px;
    text-align: left;
    margin-top: -62px;
    display: inline-block;
  }
  .post .container{
    margin-top: 0;
    padding: 0;
  }
  .container .content .block{
    border-radius: 0;
  }
  .container .content .block .cover{
    height: 124px;
  }
  .container .content .block .cover img{
    height: auto;
  }
  .header .top .nav-tree{
    position: relative;
    top: -2px;
  }
  .container .content,
  .container .sidebar{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
  }
  .container .content{
    padding-right: 0;
  }
  .container .sidebar{
    padding: 0 6px;
    display: none;
  }
  .container .content .block .content_text{
    padding: 18px 25px 26px 25px;
  }
  .container .content .block .content_text .comments-block{
    margin-top: 0;
  }
  .container .content .block .content_text .comments-block .item .head{
    padding-bottom: 0;
  }
  .container .content .block .content_text .comments-block .item .head .name{
    font-size: 17px;
    line-height: 25px;
  }
  .container .content .block .content_text .comments-block .item .head .date{
    font-size: 15px;
    line-height: 34px;
    padding-left: 1px;
  }
  .container .content .block .content_text .share-btns{
    position: relative;
    top: 2px;
    margin-left: 14px;
  }
  .container .content .block .content_text .title{
    padding: 7px 0 8px 0!important;
  }
  .container .content .block.block_min .content_text .title{
    font-size: 21px;
    line-height: 25px;
  }
  .container .content .block.block_min{
    margin: 0 0 10px 0!important;
    width: 100%!important;
    float: none!important;
  }
  .container .content .block.block_min:nth-child(n+4){
    display: none!important;
  }
  .container .content .block.block_min .content_text{
    padding: 18px 20px 12px 20px;
  }
  .text-form{
    font-size: 17px;
    height: 38px;
  }
  textarea.text-form{
    height: 80px;
  }
  .btn{
    padding: 10px 20px 6px 20px!important;
    height: 38px;
  }
  .btn.btn_cmnt{
    padding-top: 6px!important;
    padding-left: 43px!important;
  }
  .btn.btn_cmnt:before{
    top: 11px;
  }
  .container .content .block.block_min .content_text .btn.btn_cmnt{
    margin-top: 0;
  }
  .col_12{max-width: 100%;}

  /*----Mobile Style's-----*/
  .m_hide{
    display: none;
  }
  .m_show{
    display: inline-block;;
  }
  .m_p-s_6{
    padding-left: 6px!important;
    padding-right: 6px!important;
  }
  .m_p-b_0{
    padding-bottom: 0!important;
  }
  .m_m-t_14{
    margin-top: 14px!important;
  }
  .m_m-t_19{
    margin-top: 19px!important;
  }
  .m_m-b_6{
    margin-bottom: 6px!important;
  }
  .m_m-b_11{
    margin-bottom: 11px!important;
  }
  .b-r_6{
    border-radius: 4px!important;
  }
  .m_p_0{
    padding: 0!important;
  }
  .m_p-t_5{
    padding-top: 5px!important;
  }
  .m_p-t_6{
    padding-top: 6px!important;
  }
  .m_p-t_8{
    padding-top: 8px!important;
  }
  .m_p-t_9{
    padding-top: 9px!important;
  }
  .m_p-t_10{
    padding-top: 10px!important;
  }
  .m_col_12{
    width: 100%;
  }
  .m_f-s_13{
    font-size: 13px!important;
  }
  .m_f-s_15{
    font-size: 15px!important;
  }
}
